# Build
bin/
obj/
artifacts/
*.log

# User-specific files
*.user
*.suo

# VS Code
.vscode/
.vs/

# OS
Thumbs.db
ehthumbs.db
Database.db
.DS_Store

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# EF Core

# Secrets
appsettings.Development.json
appsettings.Local.json
secrets.json

# JetBrains
.idea/
*.sln.iml
